{% extends "itJob/layout.html" %}
{% load static %}

{% block body %}
<div class="row mb-3">
  <div class="profile-picture">
    <div class="profile-picture__back">
      <!-- <img src="https://picsum.photos/1000/400" alt="" class="wallpaper"> -->
    </div>
    <div class="profile-picture__avatar">
      <div class="avatar">
        <img src="{% if firm.image %}{{ firm.image.url }}{% else %}{% static 'itJob/no_user_img.png' %}{% endif %}"
          alt="Avatar" class="avatar__img" id="avatar_pic">
      </div>
    </div>
    <div class="profile-picture__title">
      <h3 class="title">
        <div id="firm_name">{{ firm.firm_name }}</div>
      </h3>
    </div>
    {% if user.username == firm.username %}
    <div class="text-end">
      <button type="button" class="m-1 btn btn-outline-dark" id="edit_profile_photo">Edit profile photo</button>
    </div>
    {% endif %}
  </div>

  <div class="modal" id="modal_01">
    <div class="modal__container animate" style="max-width: 600px">
      <span class="modal__close" title="Close Modal" id="close_01">&times;</span>
      <div class="modal__content">
        <div class="image-upload mb-3">
          <label for="input_pic" class="avatar" class="form-label" title="Upload Image">
            <img src="" alt="Avatar" class="avatar__img" id="example_avatar_pic">
          </label>
          <input class="form-control" type="file" accept=".jpg, .jpeg, .png" id="input_pic">
        </div>
        <div class="mb-3">
          <label for="example_firm_name" class="form-label">Firm Name</label>
          <input type="text" class="form-control" id="example_firm_name" placeholder="Enter Firm Name">
        </div>
        <div class="d-grid gap-2">
          <div class="info_message" id="info_message_01"></div>
          <button class="btn btn-dark btn-lg" type="submit" id="save_01">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="description">
    <div id="description_value">{{ firm.description | safe }}</div>
    {% if user.username == firm.username %}
    <div class="text-end">
      <button type="button" class="m-1 btn btn-outline-dark" id="edit_profile_description">Edit profile
        description</button>
    </div>
    {% endif %}
  </div>

  <div class="modal" id="modal_02">
    <div class="modal__container animate">
      <span class="modal__close" title="Close Modal" id="close_02">&times;</span>
      <div class="modal__content">
        <form class="mb-3" method="post">
          <textarea id="textarea"></textarea>
        </form>
        <div class="d-grid gap-2">
          <div class="info_message" id="info_message_02"></div>
          <button class="btn btn-dark btn-lg" type="submit" id="save_02">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% if firm_works %}
<hr>
<div class="row mb-3">
  <h3 class="text-center">Vacancies</h3>
</div>
{% endif %}

<div class="row mb-3">
  <div class="firm-works">
    {% if user.username == firm.username %}
    <div class="text-end">
      <button type="button" class="m-1 btn btn-outline-dark" id="edit_profile_description">Add works</button>
    </div>
    {% endif %}
    {% for firm_work in firm_works %}
    <div class="card text-bg-light text-center mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ firm_work.work_title }} - {{ firm_work.salary }}$</h5>
        <p class="card-text mb-2">{{ firm_work.description | safe }}</p>

        <div class="skills row justify-content-md-center">
          <div class="col-lg-6 col-md-8 col-12">
            <table class="mb-0 table table-dark table-hover main-table">
              <thead>
                <tr>
                  <th scope="col">Skill</th>
                  <th scope="col">Rating</th>
                </tr>
              </thead>
              <tbody>
                {% for skill in firm_work_skills %}
                {% if skill.work == firm_work %}
                <tr>
                  <td class="skill">{{ skill.skill_name }}</td>
                  <td class="score">{{ skill.get_score_display }}</td>
                </tr>
                {% endif %}
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>

        {% if user.username == firm_work.author.username %}
        <div class="m-2">
          <a href="#" class="btn btn-outline-dark">Edit work</a>
        </div>
        {% endif %}
        <p class="card-text"><small class="text-muted">{{ firm_work.time }}</small></p>
      </div>
    </div>
    {% endfor %}
    <!-- TODO if is_paginated -->
    {% if firm_works.paginator.num_pages > 1 %}
    <div class="pagination justify-content-center">
      {% if firm_works.has_previous %}
      <div class="page-item">
        <a class="page-link link-secondary" href="?page=1">&laquo; first</a>
      </div>
      <div class="page-item">
        <a class="page-link link-secondary" href="?page={{ firm_works.previous_page_number }}">previous</a>
      </div>
      {% endif %}

      <div class="page-item disabled">
        <a class="page-link link-secondary">
          Page {{ firm_works.number }} of {{ firm_works.paginator.num_pages }}.
        </a>
      </div>

      {% if firm_works.has_next %}
      <div class="page-item">
        <a class="page-link link-secondary" href="?page={{ firm_works.next_page_number }}">next</a>
      </div>
      <div class="page-item">
        <a class="page-link link-secondary" href="?page={{ firm_works.paginator.num_pages }}">last &raquo;</a>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.tiny.cloud/1/s8l1yu3k7cp94vsxpgxsbpjmhuidetnks4p97hc76llk15hm/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#textarea',
    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
      'alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
  });
</script>
{% endblock %}